# macOS
.DS_Store

# Visual Studio Code
.vscode/

# Editor backup files
*~

# Pandoc outputs
*.html

# Python object files
__pycache__/
*.py[cod]

# Python distutils
build/

# Python setuptools
dist/
*.egg-info/

# pytest artifacts
.pytest_cache/

# tox artifacts
.tox/
